<div class="side-bar">
  <h2>Recent posts</h2>
  <div class="posts-list">
    <div class="post">
      <div class="post-text">
        <h3>Title</h3>
        <p>Date, Time</p>
      </div>
      <div class="post-options">
        <i class="fa-solid fa-pencil"></i>
        <i class="fa-solid fa-trash"></i>
      </div>
    </div>

    <div class="post">
      <div class="post-text">
        <h3>Title</h3>
        <p>Date, Time</p>
      </div>
      <div class="post-options">
        <i class="fa-solid fa-pencil"></i>
        <i class="fa-solid fa-trash"></i>
      </div>
    </div>
  </div>
</div>
